.login-manin-container {
  background-image: url("../../resources/fondo.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.main-left-item {
  text-align: center;
  flex-grow: 1;
  font-size: 35px;
  margin: auto;
}

.main-left-item-content{
    color: #555;
}
.main-right-item {
  flex-grow: 2;
  margin: auto;
  background-color: #47b63a;
  border-radius: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login-form-items {
  color: #fff;
  margin: auto;
  padding: 10px;
  flex-grow: 1;
  width: 60%;
}

.login-btn-left {
  width: min-content;
  color: #111;
  background-color: #ddd;
  border: none;
  margin-right: 10px;
}

.login-btn-right {
    width: min-content;
    color: #000!important;
    background-color: #fff;
    border: none;
    margin-left: 10px;
}
.login-btn-right:hover{
    color:#222;
    background-color: #ddd;
    border:none;
}
.login-btn-link {
    width: min-content;
    color: #000;
    background-color: #fff;
}
.login-btn-link:hover{
    color:#222;
    background-color: #ddd;
    border:none;
}

