section > aside {
  background-color: #f8f9fa !important;
  height: 100%;
}
ul {
  background-color: #f8f9fa !important;
}
main {
  background-color: white !important;
}
.ProductListItem {
  display: inline-block;
  margin-left: 30px;
}
.ant-layout {
  overflow-x: hidden;
}
.productListTitles {
  margin-left: 46px;
}
.actions-FlexItems-btn {
  margin-right: 15px;
  border-radius: 5px !important;
}
.AddButton {
  text-align: right !important;
  margin-right: 100px !important;
  margin-top: 10px !important;
}
.EditButton {
  margin-right: 0px;
  padding: 0px;
}

.ant-menu-light .ant-menu-item-active {
  color: black !important;
  padding: 30px;
}
.ant-layout.ant-layout-has-sider {
  background-color: #f8f9fa !important;
}
li {
  padding-left: 20px !important;
}
