section>aside {
    background-color: #F8F9FA!important;
}
ul{
    background-color: #F8F9FA!important; 
}
main {
    background-color:white!important; 
}

/* Product List */

.ProductListItem{
    display: inline-block;
    margin-left: 30px;
}
.ant-layout {
    overflow-x: hidden;
}
.productListTitles {
    margin-left: 30px;
    /* text-align: center; */
}