section>aside {
    background-color: #F8F9FA!important;
    height: 100%;
}
ul{
    background-color: #F8F9FA!important; 
}
main {
    background-color:white!important; 
}

/* Product List */

.ProductListItem{
    display: inline-block;
    margin-left: 30px;
}
.ant-layout {
    overflow-x: hidden;
}
.productListTitles {
    margin-left: 46px;
    
}


/* styles for add menu button in productAdd */

.AddButton {

text-align: right!important;
margin-right:100px!important;
margin-top: 10px!important;
}
.EditButton {
    margin-right: 0px;
    padding: 0px;

}

/* aside styles */

.ant-menu-light .ant-menu-item-active{
    color:black!important;
    padding: 30px;
}
.ant-layout.ant-layout-has-sider{
    background-color: #F8F9FA!important;
}
li {
    padding-left: 20px!important;
}