.personalizedNavbar{
    background-color: #f5f5f5 !important;
    color: rgb(0, 0, 0) !important;
    font-size: 20px;
   

}
.logo{
    height: 59px;
    margin-right: 20px;

}
.navbarColor{
    color: #494949 !important;
}

.navbar-toggler-icon{
    background-image: url(http://assets.stickpng.com/images/588a64e0d06f6719692a2d10.png) !important;
}
#navbarScrollingDropdown{
    color: #494949 !important;
    
}
.dropdown-menu {
    background-color: #f5f5f5;
    color: #494949 !important;
}
.dropdown-item{
    color: #494949 !important;

}

.rowPersonalized {
    text-align: center;
  }
.footerPersonalized{
    color: white;
    background-color: black;
   
}
.paddingBtn{
    padding-bottom:20px!important;
}

/*  ------------------------------ */
.menus-container{
    background-color:#f5f5f5;
    background-image: url('../../resources/fondo.png') ;
}
.card-items{
        align-items: center;
        width: 100%;
        margin-left: 30px;
        border-radius:12px;    
        background-color: #fcf9f9;
        box-shadow: 0 0 9px 2px #dddcdc;
        margin: 0;
       
}


.body-menu{
    color: #30ad23;
}
/* --------------------------------------------- */
.banner-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
/* ------------------------------------------- */
 .group-count{
    justify-content: center;
 }
 .btn-agregar{
     background-color: white !important;
     border-color: #dfffc0 2px !important;
     color: rgb(15, 15, 15);
     width: 100px !important;
     /* margin-left: 110px; */
     border-radius: 20px;
 }
 .group-counter{
     width: 100%;
 }
 .btn-counter{
     width: 30px;
 }
 .item-image{
    /*   */
    width: 100%;
    border-radius: 13px;
 }
 .category-item{
     margin-top: 2px;
     font-size: 12px;
     color: #d5d7dc;
     font-weight: bold;
 }
.item-name{
    color: #30ad23;
    margin: top 0px;
    margin-left: 8px !important;
    margin-right: 8px !important;
}
.item-text{
    font-size: 15px;
    margin-left: 9px !important;
    margin-right: 9px !important;
}
 /* -------------Categories-------------------- */


 .card-categories{
     align-items: center;
     width: 170px !important;
     border-radius: 18px;
     display: flex;
     justify-content: center;
     color: #000000;
     background-color: #ffff;
     box-shadow: 0 0 9px 2px #dddcdc;
 }
 .card-categories:hover{
   background-color: #30ad23;
   color: #fff;
 }
 .name-category{
    font-size: 15px !important;

 }
 .img-category{
     width: 60px !important;
     margin-left: 2px;
 }

 /* ---------------------Footer--------------------- */
 .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#000000;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  /* .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  } */
  .copyright-container{
      background-color:#47b63a;
      text-align:center;
      justify-content: center;
      color: white !important;
      margin-bottom:0;
      height:50px;
  }