.cart-contenedor {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  position: fixed;
  z-index: 1;
  position: fixed;
  right: 0;

  .cartContainer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 30px;

    .buttonCartContainer {
      // margin-top: 10px;
      // margin-right: 20px;
      cursor: pointer;
      z-index: 2;

      svg {
        height: 25px;
        justify-content: flex-end;
      }

      .buttonCart {
        background-color: #ffffff;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;

        .close {
          position: relative;
          left: 215px;
        }
      }
      .productsNumber {
        height: 20px;
        width: 20px;
        border-radius: 999px;
        position: absolute;
        top: 0;
        left: 200;
        background-color: #fb3939;
        font-size: 12px;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .cart {
      border-radius: 30px;
      background-color: #fcfdfb;
      color: black;

      h2 {
        text-align: center;
        font-weight: bold;
      }

      .cartVacio {
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
        width: 300px;
      }

      .total {
        border-top: solid 1px rgba(0, 0, 0, 0.399);
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        padding-top: 12px;
      }
      .btn-pagar {
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .pagar{
          background-color:#30ad23;
          border-color: #ffffff;
          width: 6em;
          border: none;
          border-radius:10px;
        }
        
      }

      .productsContainer {
        max-height: 250px;
        overflow-y: scroll;
      }
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
}
